@import "bootstrap/scss/bootstrap-grid";

/* ====================================
// css variables
// ==================================== */

/*:root {
}*/

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

/* header */

.header {
  background-image: url("../img/background-black.png");
  padding-top: 60px;
}

.header h1 {
  text-align: center;
  font-size: 80px;
  color: #FFFFFF;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  border-width: 3px; 
  border-style: solid; 
  border-color: #FFFFFF;
}

.header .sous-titre {
  text-align: center;
  font-size: 50px;
  color: #FFFFFF;
  font-family: 'Saira Extra Condensed', sans-serif;
}

.menu p {
  text-align: right;
  font-size: 50px;
  color: #FFFFFF;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  margin-top: 50px;
}

.img-header {
  margin: 55px 0px 60px 0px;
}

.logo {
  margin-top: 22px;
}

/* evenement */

.white {
  background-image: url("../img/background-white.png");
}

.white h2 {
  text-align: center;
  font-size: 70px;
  color: #000000;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  margin: 100px 0px 15px 0px;
}

.white p {
  font-family: 'Saira Extra Condensed', sans-serif;
  font-size: 40px;
  border-width: 3px; 
  border-style: solid; 
  border-color: #000000;
  margin-top: 30px;
  padding: 20px;
}

.white img {
  border-width: 3px; 
  border-style: solid; 
  border-color: #000000;
  margin-top: 30px;
}

/* carte */

.black {
  background-image: url("../img/background-black.png");
}

.black h2 {
  text-align: center;
  font-size: 70px;
  color: #FFFFFF;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  margin: 100px 0px 15px 0px;
}

.black p {
  font-family: 'Saira Extra Condensed', sans-serif;
  color: #FFFFFF;
  font-size: 40px;
  border-width: 3px; 
  border-style: solid; 
  border-color: #FFFFFF;
  margin-top: 30px;
  padding: 20px;
}

.black img {
  border-width: 3px; 
  border-style: solid; 
  border-color: #FFFFFF;
  margin-top: 30px;
}

.button p {
  text-align: center;
}

.button {
  padding-bottom: 60px;
}

/* qui sommes nous */

.contact {
  background-image: url("../img/background-black.png");
}

.contact h2 {
  text-align: center;
  font-size: 60px;
  color: #FFFFFF;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  margin: 100px 0px 60px 0px;
}

.contact img {
  margin-left: 85px;
  margin-bottom: 60px;
}

/* reglage taille evenement */

.badkatimg {
  height: calc(65% - 30px);
  object-fit: cover;
}

.badkattexte {
  height: calc(40% - 30px);
}

.naboytexte {
  height: calc(55% - 30px);
}

.naboyimg {
  height: calc(50% - 30px);
  object-fit: cover;
}

.texte1 {
  height: calc(60% - 30px);
}

.texte2 {
  height: calc(45% - 30px);
}

/* reglage taille carte */

.verre1 {
  height: calc(105% - 30px);
  object-fit: cover;
}

.cocktailtexte {
  height: calc(45% - 30px);
}

.verre2 {
  height: calc(60% - 30px);
  object-fit: cover;
}

.verre3 {
  height: calc(105% - 30px);
  object-fit: cover;
}

.verre4 {
  height: calc(60% - 30px);
  object-fit: cover;
}

.ingredientstexte {
  height: calc(45% - 30px);
}

/* reglage taille qui sommes nous */

.atrabileimg {
  height: calc(105% - 30px);
  object-fit: cover;
}

.atrabiletexte {
  height: calc(50% - 30px);
}

.atrabileimg2 {
  height: calc(55% - 30px);
  object-fit: cover;
}

.barmantexte {
  height: calc(105% - 30px);
}