@import "bootstrap/scss/bootstrap-grid";

/* ====================================
// css variables
// ==================================== */

/*:root {
}*/

/* ====================================
// reset rules
// ==================================== */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;

  font-size: 1rem;
  line-height: 1.25;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: middle;
}

/* ====================================
// base rules
// ==================================== */

/* header */

.header {
  background-image: url("../img/background-black.png");
  padding-top: 60px;
}

.header h1 {
  text-align: center;
  font-size: 80px;
  color: #FFFFFF;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border-width: 3px; 
  border-style: solid; 
  border-color: #FFFFFF;
}

.header .sous-titre {
  text-align: center;
  font-size: 50px;
  color: #FFFFFF;
  font-family: 'Saira Extra Condensed', sans-serif;
}

.menu p {
  text-align: right;
  font-size: 50px;
  color: #FFFFFF;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  margin-top: 50px;
}

.img-header {
  margin: 55px 0px 60px 0px;
}

.logo {
  margin-top: 22px;
}

/* evenement */